---
openapi: 3.0.0

info:
    title: AiiDAlab SSSP App
    description: OpenAPI Specification of the MarketPlace AiiDAlab deployment
    version: 0.1.0
    x-application-name: AiiDAlab SSSP App
    x-oauth-client:
        client-id:
        scopes:
            - email
            - openid
            - profile
        callback: https://materials-marketplace.aiidalab.net/hub/oauth_callback
    x-external-hostname: https://materials-marketplace.aiidalab.net
    x-image: https://raw.githubusercontent.com/aiidalab/aiidalab-sssp/main/miscellaneous/logo-sssp.png
    x-contacts:
        - jusong.yu@epfl.ch
    x-products:
        - name: AiiDAlab SSSP app
          productId:
servers:
    - url: https://materials-marketplace.aiidalab.net

paths:

    
    /hub/user-redirect/apps/apps/home/open_app.ipynb?app=sssp&redirect=user-redirect/apps/apps/sssp/inspect.ipynb:
        get:
            description: SSSP App
            operationId: frontend
            security:
                - bearerAuth: []
            responses:
                '200':
                    description: Success
                '404':
                    description: Page not found

    /hub/health:
        get:
            description: To check if an application is alive
            operationId: heartbeat
            security: []
            responses:
                '200':
                    description: Success
                '404':
                    description: Not found

components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT
