---
openapi: 3.0.0

info:
    title: Materials MarketPlace AiiDAlab Deployment API
    description: OpenAPI Specification of the MarketPlace AiiDAlab deployment
    version: 0.1.0
    x-application-name: AiiDAlab
    x-oauth-client:
        client-id:
        scopes:
            - email
            - openid
            - profile
        callback: https://materials-marketplace.aiidalab.net/hub/oauth_callback
    x-external-hostname: https://materials-marketplace.aiidalab.net
    x-image: https://raw.githubusercontent.com/aiidalab/aiidalab-widgets-base/master/miscellaneous/logos/aiidalab.png
    x-products:
        - name: AiiDAlab OSP
          productId:
    x-contacts:
        - simon.adorf@epfl.ch
        - jusong.yu@epfl.ch
servers:
    - url: https://materials-marketplace.aiidalab.net/

paths:
    /:
        get:
            description: frontend path
            operationId: frontend
            security:
                - bearerAuth: []
            responses:
                '200':
                    description: Success
                '404':
                    description: Page not found

    /hub/health:
        get:
            description: To check if an application is alive
            operationId: heartbeat
            security:
                - bearerAuth: []
            responses:
                '200':
                    description: Success
                '404':
                    description: Not found

components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT
