---
openapi: 3.0.0

info:
    title: AiiDAlab UC3 App
    description: OpenAPI Specification of the MarketPlace AiiDAlab deployment
    version: 0.1.0
    x-application-name: AiiDAlab UC3 App
    x-oauth-client:
        client-id:
        scopes:
            - email
            - openid
            - profile
        callback: https://aiidalab.materials-marketplace.eu/hub/oauth_callback
    x-external-hostname: https://aiidalab.materials-marketplace.eu
    x-image: https://raw.githubusercontent.com/aiidalab/aiidalab-widgets-base/master/miscellaneous/logos/aiidalab.png
    x-contacts:
        - jusong.yu@epfl.ch
    x-products:
        - name: AiiDAlab UC3 app
          productId:
servers:
    - url: https://aiidalab.materials-marketplace.eu

paths:


    hub/user-redirect/apps/apps/home/open_app.ipynb?app=mp-uc3&redirect=user-redirect/apps/apps/mp-uc3/install_uc3.ipynb:
        get:
            description: UC3 App
            operationId: frontend
            security:
                - bearerAuth: []
            responses:
                '200':
                    description: Success
                '404':
                    description: Page not found

    /hub/health:
        get:
            description: To check if an application is alive
            operationId: heartbeat
            security: []
            responses:
                '200':
                    description: Success
                '404':
                    description: Not found

components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT
